@charset "utf-8";

html{
  background: #F0F8FF url(image.jpg) no-repeat;
}
.down:link, .down:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: inherit;
    left : 50px;
}
.video{
}

.down:hover{
  box-shadow: 1px 1px 5px #000000;
}



